<div class="header">
  <ul class="nav nav-pills">
    <li><a href="#">Appideas</a></li>
    <li class="active"><a href="#/ideas">Ideas</a></li>
    <li><a href="#/idea/new">New Idea</a></li>
  </ul>
</div>

<div class="marketing">
  <div class="row clearfix">
    <div class="col-md-3 column">
      <h4>All Keywords</h4>
      <ul ng-repeat="keyword in keywords" id="keys">
        <li><a ng-click="view_ideas_by_keyword(keyword.id)">{{ keyword.name }}</a>
        </li>
      </ul>
    </div>
    
    <div class="col-md-6 column">
      <table>
        <tr>
          <td valign="baseline">
              <h4>
                <a class="glyphicon glyphicon-chevron-up" href="#">&nbsp</a>
                <p>
                  {{ idea.votes }}&nbsp           
                <p>
                <a class="glyphicon glyphicon-chevron-down" href="#">&nbsp</a>
              </h4>
          </td>
          <td>
            <h3>{{ idea.name }}</h3>
            <p>{{ idea.desc }}</p>
            <div class="form-group">
              <label for="Keyword">Keywords 
              </label>
              <p>
              <label ng-repeat="keyword in idea.keywords">
                <span class="label label-primary"><input type="checkbox" checklist-model="Keyword" checklist-value="keyword.id" visibility: hidden> {{ keyword.name }}
                </span>&nbsp
              </label>
            </div>
              <a ng-href="#/ideas/{{idea.id}}/edit"><button type="submit" class="btn btn-default">Update Idea</button></a>
              <a href="#/ideas"><button type="cancel" class="btn btn-default">Cancel</button></a>
            </form>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-3 column" ng-controller="IdeaDetailsCtrl">
          <label>Comments </label>
      <table width="100%">
      <tr ng-repeat="comment in idea.comments">
          <td><i>{{ comment.body }}</i><hr></td>
      </tr></table>
      <div class="form-group">
          <p><textarea input class="form-control" ng-model="newComment.comment" id="Comment" type="text" placeholder="Comment idea" rows="3"/></textarea>
          <input type="hidden" mg-model="newComment.id" id="idea.id" true-value="idea.id"</p>
          <button type="submit" ng-click="submitNewComment()" class="btn btn-xs btn-default">Comment</button>   
      </div>
    </div> 
  </div>
</div>



<div class="footer">
  <p>© tktl-appideas</p>
</div> 


