<div class="header">
  <ul class="nav nav-pills">
    <li class="active"><a ng-href="#">AppIdeas</a></li>
    <li><a ng-href="#">Keywords</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <!-- <h3 class="text-muted">app ideas front</h3> -->
</div>

<!-- <div class="container-fluid"> -->
  <div class="row-fluid">
    <div class="span6">
      <div class="well.sidebar-nav">
        <ul ng-repeat="keyword in keywords">
          <li>{{ keyword }}</li>
        </ul>
      </div>
    </div>
    <div class="span3">
      <ul ng-repeat="idea in ideas">
        <li>
          {{ idea.name }} {{ idea.desc }}
        </li>
      </ul>
    </div>
    <div class="span3">
    </div>
  </div>
<!-- </div> -->

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>


