<div class="header">
<ul class="nav nav-pills">
  <li class="active"><a href="#">Appideas</a></li>
  <li><a href="#">Ideas</a></li>
  <li><a href="#">New Idea</a></li>
</ul>
</div>

<div class="row marketing">
      <div class="row-fluid">
        <div class="col-md-2">
        		<ul ng-repeat="keyword in keywords", class="nav nav-pills nav-stacked">
        		  <li><a ng-href="#"><span class="badge pull-right">1</span>{{ keyword }}</a></li>
        		  </ul>
           </div>
         </div>
        
       <div class="col-md-8">
    		  <ul ng-repeat="idea in ideas">
    		  	<li><a ng-href="#">{{ idea.name }}</a>{{ idea.desc }}</li>
    		  	
     			</ul>        
     	  </div>

        
        <div class="col-md-2">
        	    :)     
        </div>
        
      </div>
      
</div>

      

<div class="footer">
  <p>© tktl-appideas</p>
</div> 






